<!DOCTYPE html>
<html lang="en">
<head>
    <!-- This page is for exam, it will have a timer with JS.
    Also, get the questions, answers and images for the questions and answers from the DB.-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam</title>
</head>
<script>
    function getCookie(){
        console.log("cookie: " + document.cookie);
        return document.cookie;
    }
    function emptyCookie(){
        document.cookie = "";
    }
    function showHint() {
        document.getElementById("hint").style.display = "block";
      }
</script>
<body>
    <form method="post" action="result.html">
        {% for question in questions %}
        <img src={{ question.imagePATH }} ><br>
        <p>{{question}}</p>
            {% for answer in answers %}
            <br>
            <!-- We will use this function 
                document.querySelector('input[name="correct"]:checked').value;
                to get the selected radio button, from the "question.id" in the name="" radio button -->
            <input type="radio" id={{ question.id }} name={{ question.id }} value="A">
            <label for={{ answer }}>{{ question.answerA }}</label>
            <br>
            <input type="radio" id={{ question.id }} name={{ question.id }} value="B">
            <label for={{ answer }}>{{ question.answerB }}</label>
            <br>
            <input type="radio" id={{ question.id }} name={{ question.id }} value="C">
            <label for={{ answer }}>{{ question.answerC }}</label>
            <br>
            <input type="radio" id={{ question.id }} name={{ question.id }} value="D">
            <label for={{ answer }}>{{ question.answerD }}</label>
            <br>
            <button type="button" onclick="showHint()">Show hint</button>
            <div id="hint" style="display: none;">
                {% for hint in questions %}
                {{ question.hint }}
            </div>
            {% endfor %}
            <hr>
            {% endfor %}
        {% endfor %}
        <input type="submit" value="submit">
    </form>
</body>
</html>