<!DOCTYPE html>
<html lang="en">
<head>
    <!-- This page is for practice.
    get the questions, answers and images for the questions and answers from the DB.
    But, with no timer like the exam page.-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice</title>
</head>
<script>
    function getCookie(){
        console.log("cookie: " + document.cookie);
        return document.cookie;
    }
    function emptyCookie(){
        document.cookie = "";
    }
    
</script>
<body>
    <form method="post" action="result.html">
        {% for question in questions %}
        <img src={{ question.image }} ><br>
        <p>{{question}}</p>
            {% for answer in answers %}
            <img src={{ answer.image }} ><br>
            <input type="radio" id={{ answer }} name="answer" value={{ answer }}>
            <label for={{ answer }}>{{ answer }}</label>
            <br>
            <hr>
            {% endfor %}
        {% endfor %}
        <input type="submit" value="submit">
    </form>
</body>
</html>